.map {
  width: 10rem;
  height: 10rem;
}
.site-avatar {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  display: inline;
  position: absolute;
}
.site-avatar img {
  border-radius: 5px;
}

/* This will hide images on front page if desired

.post-preview img {
  display: none;
} 

*/
