---
layout: default
title: Home
---

<p>Build4STL includes an entire month of civic hacking activities, culminating in a weekend hackathon May 29-31, 2015.</p>
<p>Build4STL is the St. Louis National Day of Civic Hacking event, organized by <a href="http://opendatastl.github.io" target="_blank" class="site-avatar">OpenDataSTL</a>.</p>

<div class="posts">
{% for post in site.categories.blog %}
  <div class="post post-preview">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | split:'<!--break-->' | first }}
    {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">read more</a>
    {% endif %}
  </div>
  {% endfor %}
</div>


